:root {
  --accent-red: #f28b82;
  --accent-green: #a8d5ba;
  --accent-blue: #aecbfa;
  --accent-yellow: #fddfaf;

  --bg-color: #fffdf9;
  --text-color: #2d2d2d;
  --card-bg: #ffffff;
  --border-color: #ededed;

  --side-padding: 32px;

  --regular-font: 'Inter';
  --heading-font: 'Urbanist';
}
