.priority-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
  border-radius: 8px;
}

#content-priority {
  grid-area: main-content;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'high-priority medium-priority low-priority';
  gap: 16px;
  height: 100%;
}

#high-priority {
  grid-area: high-priority;
  background-color: var(--accent-red);
}

#medium-priority {
  grid-area: medium-priority;
  background-color: var(--accent-yellow);
}

#low-priority {
  grid-area: low-priority;
  background-color: var(--accent-blue);
}
